
.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.logo {
    width: 120px;
    height: auto;
    margin-bottom: 30%;
    margin-top: 10%;
    flex-grow: 0;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    color: white;    
    margin-bottom: 5%;
}

.lower {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    color: white;    

}

.action {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    flex-grow: 1;
}
.btnTurn{
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
    margin: 5%;
    border:none;
    background-color: #ffffff00;
    transition: transform 2s ease;
}
.rotate {
    transform: rotate(-360deg); 
}
.connec{
    font-size: 20px;
}
.action{
    visibility: hidden;
}
.btnStop{
    padding: 15px 30px;
    background-color: #f72585;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
    margin: 20%;
    color: white;
    border:none;
    font-family: 'Lilita One', sans-serif;
}
body {
    background-color: #4361ee;
    font-family: 'Lilita One', sans-serif;
}

@media screen and (max-width:768px){
    .action{
        flex-direction: column;
    }
    
}